*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    width: 100%;
    height: 12.5rem;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #263248;
}

header div img{
    width: 12.5rem;
    height: 12.5rem;
}

.navBar ul {
    display: flex;
    gap: 5rem;
    margin-top: 2.5rem;
    margin-right: 9.375rem; ;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

.navBar ul li a{
    text-decoration: none;
    color: rgba(242, 243, 243, 0.932);
    list-style: none;
}


/* Main */

/* Flyer */

main{
    width: 100%;
    background-color: #F5F7F8;
}

.imgFondo div img{
    width: 100%;
    height: 15.625rem;
    background-image: url(../assets/img/img-fondo.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    
}

/* Seccion de Bienvenida */

.seccionBienvenida{
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .625rem;
    padding-left: 1.875rem;
    font-family: "Roboto", sans-serif;
    background-color: #EEF5FF;
}


.seccionBienvenida h1{
    font-size: 2.8125rem;
}

.seccionBienvenida h2{
    margin-top: 1.25rem;
    margin-left: 12.5rem;
    font-size: 1.25rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.548);
}

.seccionBienvenida button{

    background-color: #344564;
    color: aliceblue;
    padding: .9375rem;
    border-radius: .625rem;
    margin-right: 12.5rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);
}


/* Seccion Principal */

.seccionPrincipal{
    display: grid;
    grid-template-columns: 43.75rem 1fr 25rem 37.5rem;
    grid-template-rows: 5rem 25rem 5rem 25rem 5rem 25rem;
    grid-template-areas: 
    "art1 art1 art2 art2"
    "art1 art1 art3 art3"
    "art5 art5 art4 art4"
    "art6 art6 art4 art4"
    "art7 art7 art8 art8"
    "art7 art7 art9 art9"
    ;
}


.art1{
    grid-area: art1;
    /* background-color: aqua; */
}

.art1 img{
    width: 90%;
    height: 90%;
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    border-radius: 1.5625rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);
}

.art2{
    grid-area: art2;
    /* background-color: rgba(0, 255, 255, 0.247); */
    font-family: "Roboto", sans-serif;
    padding-top: 2.5rem;
}

.art3{
    grid-area: art3;
    /* background-color: rgba(162, 0, 255, 0.555);  */
}

.art3 p{
    padding: 1.25rem;
    font-family: "Roboto", sans-serif;
}

.art3 div{
    padding-left: 50rem;
    
}

.art3 div button{
    background-color: #344564;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    padding: .9375rem;
    border-radius: 2.5rem;
    font-size: 1.0625rem;

}   

.art4{
    grid-area: art4;
    /* background-color: rgb(50, 148, 63);  */
    background-color:white;
}

.art4 img{
    width: 90%;
    height: 90%;
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    border-radius: 1.5625rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);
}
.art5{
    grid-area: art5;
    /* background-color: rgb(138, 167, 33); */
    font-family: "Roboto", sans-serif;
    padding-top: 2.5rem;
    padding-left: 1.25rem;
    background-color:white;
}

.art6{
    grid-area: art6;
    /* background-color: rgb(255, 0, 21);  */
    padding-left: 1.25rem;
    background-color:white;
}

.art6 p{
    padding: 1.25rem;
    font-family: "Roboto", sans-serif;
}

.art6 div{
    padding-left: 43.75rem;

}

.art6 div button{
    background-color: #344564;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    padding: .9375rem;
    border-radius: 2.5rem;
    font-size: 1.0625rem;

}   

.art7{
    grid-area: art7;
    /* background-color: rgb(68, 0, 255); */    
    background-color: #F5F7F8;
}

.art7 img{
    width: 90%;
    height: 90%;
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    border-radius: 1.5625rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);
}

.art8{
    grid-area: art8;
    /* background-color: rgb(0, 195, 255); */
    font-family: "Roboto", sans-serif;
    padding-top: 2.5rem;
    background-color: #F5F7F8;
}

.art9{
    grid-area: art9;
    /* background-color: rgb(255, 0, 119); */
    padding: 1.25rem;
    font-family: "Roboto", sans-serif;
    background-color: #F5F7F8;
}

.art9 div{
    padding-left: 50rem;
    background-color: #F5F7F8;

}

.art9 div button{
    background-color: #344564;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    padding: .9375rem;
    border-radius: 2.5rem;
    font-size: 1.0625rem;
}

/* Footer */

footer {
width: 100%;
height: 18.75rem;
background-color: #263248;
color: aliceblue;

}

footer .sec1{
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.25rem;
}   

.carreras{
    margin-left: 40.625rem;
}

.carreras h4{
    text-align: center;
    margin-bottom: .625rem;
    padding-bottom: .625rem;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .9375rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
}

.carreras li{
    text-align: center;
    list-style: none;
    padding-top: .625rem;
}

.carreras li a{
    color: #EEF5FF;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
    text-decoration: none;
} 

.contacto{
    margin-bottom: .9375rem;
}

.contacto h4{
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    padding-bottom: .625rem;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .9375rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
}

.contacto p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
    margin-bottom: 1rem;
}

.contacto div{
    display: flex;
    text-align: center;
    
}   
.contacto div img{
    width: .9375rem;
    height: .9375rem;

}

.contacto div p{
    padding-left: .625rem;
    
}

.instrumentoslist{
    margin-bottom: 2.375rem;
    font-family: "Roboto", sans-serif;
}

.instrumentoslist h4{
    text-align: center;
    margin-top: 1.875rem;
    /* margin-bottom: .625rem; */
    padding-bottom: .625rem;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .9375rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
}


.instrumentoslist li{
    text-align: center;
    list-style: none;
    padding-top: .625rem;
    
}

.instrumentoslist li a{

    text-decoration: none;
    list-style: none;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
    
}


.logosContacto{
    margin-top: 12.5rem;
    margin-left: 25rem;
    
} 

.sec2{
    display: flex;
    justify-content: center;
}

.sec2 div{
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
}

.sec2 div img{
    width: .9375rem;
    height: .9375rem;
    margin: 0% .125rem;
}

.sec3{
    display: flex;
    justify-content: center;
}

.sec3 div {
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
}