*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    width: 100%;
    height: 12.5rem;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #263248;
}

header div img{
    width: 12.5rem;
    height: 12.5rem;
}

.navBar ul {
    display: flex;
    gap: 5rem;
    margin-top: 2.5rem;
    margin-right: 9.375rem; ;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

.navBar ul li a{
    text-decoration: none;
    color: rgba(242, 243, 243, 0.932);
    list-style: none;
}


/* Main */

/* Flyer */

main{
    width: 100%;
    background-color: #F5F7F8;
}

.imgFondo div img{
    width: 100%;
    height: 15.625rem;
    background-image: url(../assets/img/img-fondo.jpg);
    background-repeat: no-repeat;
    object-fit: cover;

}

/* Seccion de Bienvenida */

.seccionBienvenida{
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .625rem;
    padding-left: 1.875rem;
    font-family: "Roboto", sans-serif;
    background-color: #EEF5FF;
}


.seccionBienvenida h1{
    font-size: 2.8125rem;
    color: #263248;
    border-right: .1875rem solid #2632489a;
    padding-right: 1.25rem;
    text-shadow: .0625rem .0625rem .125rem #263248b7;
}

.seccionBienvenida h2{
    margin-top: 1.25rem;
    margin-left: -26.875rem;
    font-size: 1.4375rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.548);
    text-shadow: .0625rem .1875rem .3125rem rgba(0, 0, 0, 0.226);
}

.seccionBienvenida button{

    background-color: #344564;
    color: aliceblue;
    padding: .9375rem;
    border-radius: .625rem;
    margin-right: 12.5rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);
}


/* Seccion Principal */

.seccionPrincipal{
    display: grid;
    grid-template-columns: 43.75rem 1fr 25rem 37.5rem;
    grid-template-rows: 5rem 25rem 5rem 25rem 5rem 25rem;
    grid-template-areas:
    "art1 art1 art2 art2"
    "art1 art1 art3 art3"
    "art5 art5 art4 art4"
    "art6 art6 art4 art4"
    "art7 art7 art8 art8"
    "art7 art7 art9 art9"
    ;
}


.art1{
    grid-area: art1;
    /* background-color: aqua;  */
    border-top: #344564 solid;
}

.art1 img{
    width: 90%;
    height: 90%;
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    border-radius: 1.5625rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);
}

.art2{
    grid-area: art2;
    /* background-color: rgba(0, 255, 255, 0.247);  */
    font-family: "Roboto", sans-serif;
    padding-top: 2.5rem;
}

.art3{
    grid-area: art3;
    /* background-color: rgba(162, 0, 255, 0.555);  */
}

.art3 p{
    padding: 1.25rem;
    font-family: "Roboto", sans-serif;
}

.art3 div{
    padding-left: 50rem;

}

.art3 div button{
    background-color: #344564;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    padding: .9375rem;
    border-radius: 2.5rem;
    font-size: 1.0625rem;

}

.art4{
    grid-area: art4;
    /* background-color: rgb(50, 148, 63);   */
    border-top: #344564 solid;
}

.art4 img{
    width: 90%;
    height: 90%;
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    border-radius: 1.5625rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);
}
.art5{
    grid-area: art5;
    /* background-color: rgb(138, 167, 33); */
    font-family: "Roboto", sans-serif;
    padding-top: 2.5rem;
    padding-left: 1.25rem;

}

.art6{
    grid-area: art6;
    /* background-color: rgb(255, 0, 21);  */
    padding-left: 1.25rem;

}

.art6 p{
    padding: 1.25rem;
    font-family: "Roboto", sans-serif;
}

.art6 div{
    padding-left: 43.75rem;

}

.art6 div button{
    background-color: #344564;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    padding: .9375rem;
    border-radius: 2.5rem;
    font-size: 1.0625rem;

}

.art7{
    grid-area: art7;
    /* background-color: rgb(68, 0, 255);    */
    border-top: #344564 solid;
}

.art7 img{
    width: 90%;
    height: 90%;
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    border-radius: 1.5625rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);
}

.art8{
    grid-area: art8;
    /* background-color: rgb(0, 195, 255);  */
    font-family: "Roboto", sans-serif;
    padding-top: 2.5rem;
    background-color: #F5F7F8;
}

.art9{
    grid-area: art9;
    /* background-color: rgb(255, 0, 119); */
    padding: 1.25rem;
    font-family: "Roboto", sans-serif;
    background-color: #F5F7F8;
}

.art9 div{
    padding-left: 50rem;
    background-color: #F5F7F8;

}

.art9 div button{
    background-color: #344564;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    padding: .9375rem;
    border-radius: 2.5rem;
    font-size: 1.0625rem;
}

/* Footer */

footer {
width: 100%;
height: 18.75rem;
background-color: #263248;
color: aliceblue;

}

footer .sec1{
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.25rem;
}

.carreras{
    margin-left: 40.625rem;
}

.carreras h4{
    text-align: center;
    margin-bottom: .625rem;
    padding-bottom: .625rem;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .9375rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
}

.carreras li{
    text-align: center;
    list-style: none;
    padding-top: .625rem;
}

.carreras li a{
    color: #EEF5FF;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
    text-decoration: none;
}

.contacto{
    margin-bottom: .9375rem;
}

.contacto h4{
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    padding-bottom: .625rem;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .9375rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
}

.contacto p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
    margin-bottom: 1rem;
}

.contacto div{
    display: flex;
    text-align: center;

}
.contacto div img{
    width: .9375rem;
    height: .9375rem;

}

.contacto div p{
    padding-left: .625rem;

}

.instrumentoslist{
    margin-bottom: 2.375rem;
    font-family: "Roboto", sans-serif;
}

.instrumentoslist h4{
    text-align: center;
    margin-top: 1.875rem;
    /* margin-bottom: .625rem; */
    padding-bottom: .625rem;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .9375rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
}


.instrumentoslist li{
    text-align: center;
    list-style: none;
    padding-top: .625rem;

}

.instrumentoslist li a{

    text-decoration: none;
    list-style: none;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;

}


.logosContacto{
    margin-top: 12.5rem;
    margin-left: 25rem;

}

.sec2{
    display: flex;
    justify-content: center;
}

.sec2 div{
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
}

.sec2 div img{
    width: .9375rem;
    height: .9375rem;
    margin: 0% .125rem;
}

.sec3{
    display: flex;
    justify-content: center;
}

.sec3 div {
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
}



/* Responsive: Index */



/* 2560px */

@media (max-width: 2560px){

/* Corrección seccion bienvenida */

header{
    position:relative;
}

header div img{
    width: 12.5rem;
    height: 12.5rem;
    margin-left: 1.25rem;
}

.navBar ul li a{
    text-decoration: none;
    color: rgba(242, 243, 243, 0.932);
    list-style: none;
    font-size: 1.25rem;
}

/* Corrección seccion bienvenida */

.seccionBienvenida h2{
        margin-top: 1.25rem;
        margin-left: -43.75rem;
        font-size: 1.4375rem;
        font-style: italic;
        color: rgba(0, 0, 0, 0.548);
        text-shadow: .0625rem .1875rem .3125rem rgba(0, 0, 0, 0.226);
}

.seccionBienvenida button{
    font-size: 1.125rem;
    padding: 1.875rem;
    margin-right: 12.5rem;

}

/* Corrección seccion Principal */

.seccionPrincipal{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 12.5rem 37.5rem 12.5rem 37.5rem 12.5rem 37.5rem;


}

.art1 img{ /* Imagen 1 */
    width: 90%;
    height: 90%;
    margin-top: 3.125rem;
    margin-left: 3.125rem;
    border-radius: 1.5625rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);

}

.art2{ /* Titulo 1 */
    font-size: 1.5625rem;
    margin-top: 3.125rem;
}

.art3 { /* Texto 1 */
    width: 100%;
    height: 100%;
    font-size: 1.375rem;
}

.art3 div{ /* Movimiento botón 1 */
    padding-top: 1.5625rem;
    padding-left: 62.5rem;
}

.art3 div button {/* Caracteristicas botón 1 */
    font-size: 1.25rem;
    padding: 1.875rem 3.125rem;
}

.art5 { /* Titulo 2 */
    font-size: 1.5625rem;
    padding-top: 4.375rem;
    padding-left: 1.875rem;
}

.art6 { /* Texto 2 */
    width: 100%;
    height: 100%;
    font-size: 1.375rem;
}

.art6 div{ /* Movimiento botón 2 */
    padding-top: 2.1875rem;
    padding-left: 62.5rem;
}

.art6 div button {/* Caracteristicas botón 2 */
    font-size: 1.25rem;
    padding: 1.875rem 3.125rem;
}

.art8 { /* Titulo 3 */
    font-size: 1.5625rem;
    padding-top: 4.375rem;
    padding-left: 1.875rem;
}

.art9 { /* Texto 3 */
    width: 100%;
    height: 100%;
    font-size: 1.375rem;
}

.art9 div{ /* Movimiento botón 3 */
    padding-top: 2.1875rem;
    padding-left: 62.5rem;
}

.art9 div button {/* Caracteristicas botón 3 */
    font-size: 1.25rem;
    padding: 1.875rem 3.125rem;
}


/* Corrección seccion Footer */

footer .sec1{
    gap: 15.625rem;

}
}


/* 1440px */

@media (max-width:1440px){

/* Corrección Header */

header div img{
    width: 12.5rem;
    height: 12.5rem;
    margin-left: 1.25rem;
}

.navBar ul {
    gap: 3.75rem;

}

/* Corrección seccion bienvenida */

.seccionBienvenida h2{
        margin-top: 1.25rem;
        margin-left: -12.5rem;
        font-size: 1.0625rem;
        font-style: italic;
        color: rgba(0, 0, 0, 0.548);
        text-shadow: .0625rem .1875rem .3125rem rgba(0, 0, 0, 0.226);
}

.seccionBienvenida button{
    margin-right: 3.125rem;
}

/* Corrección seccion Principal */

.seccionPrincipal{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 6.25rem 28.125rem 6.25rem 28.125rem 6.25rem 28.125rem;

}

.art1 img{ /* Imagen 1 */
    width: 90%;
    height: 80%;
    margin-top: 3.125rem;
    margin-left: 2.5rem;
    border-radius: 1.5625rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);

}

.art2{ /* Titulo 1 */
    font-size: 1.0625rem;
    margin-top: 1.25rem;
}

.art3 { /* Texto 1 */
    width: 100%;
    height: 100%;
    font-size: .875rem;
}

.art3 div{ /* Movimiento botón 1 */
    padding-top: .9375rem;
    padding-left: 31.25rem;

}

.art3 div button {/* Caracteristicas botón 1 */
    font-size: 1.0625rem;
    padding: 1.25rem 2.5rem;
}

.art4 img{ /* Imagen 2 */
    width: 90%;
    height: 77%;
    margin-top: 3.125rem;
    margin-left: 2.5rem;
    border-radius: 1.5625rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);

}

.art5{ /* Titulo 2 */
    font-size: 1.0625rem;
    padding-top: -1.5625rem;
}

.art6 { /* Texto 2 */
    width: 100%;
    height: 100%;
    font-size: .875rem;
}

.art6 div{ /* Movimiento botón 2 */
    /* margin-bottom: 1.5625rem; */
    padding-left: 31.25rem;
}

.art6 div button {/* Caracteristicas botón 2 */
    font-size: 1.0625rem;
    padding: 1.25rem 2.5rem;

}

.art7 img{ /* Imagen 3 */
    width: 90%;
    height: 80%;
    margin-top: 3.125rem;
    margin-left: 2.5rem;
    border-radius: 1.5625rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);

}

.art8{ /* Titulo 3 */
    font-size: 1.0625rem;
    margin-top: -1.25rem;
    margin-left: -1.25rem;
}

.art9 { /* Texto 3 */
    width: 100%;
    height: 100%;
    font-size: .875rem;
}

.art9 div{ /* Movimiento botón 3 */
    padding-top: .9375rem;
    padding-left: 31.25rem;
}

.art9 div button {/* Caracteristicas botón 3 */
    font-size: 1.0625rem;
    padding: 1.25rem 2.5rem;

}

/* Corrección seccion Footer */

footer{
    width: 100%;
}


footer .sec1{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    gap: 3.125rem;
    padding-left: 0rem;

}

.carreras{
    margin-left: 31.25rem;
}


.logosContacto{
    margin-top: 12.5rem;
    padding-left: 15.625rem;
    margin-left: 0rem;

}
}

/* 1024px */

@media (max-width:1024px){

/* Corrección Header */

.navBar ul {
    gap: 3.125rem;
    margin-top: 3.75rem;
    margin-right: 3.125rem; ;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

.navBar ul li a{
    text-decoration: none;
    color: rgba(242, 243, 243, 0.932);
    list-style: none;
    font-size: .9375rem;
}

/* Corrección seccion Bienvenida */

.seccionBienvenida{
    padding-top: .625rem;
    padding-left: 1.875rem;

}


.seccionBienvenida h1{
    font-size: 1.875rem;
    padding-right: 1.25rem;

}

.seccionBienvenida h2{
    margin-top: .9375rem;
    margin-left: -4.375rem;
    font-size: .9375rem;
    font-style: italic;
}

.seccionBienvenida button{
    padding: .625rem;
    border-radius: .625rem;
    margin-right: 3.125rem;
    font-size: .9375rem;
    font-family: "Roboto", sans-serif
}

/* Corrección seccion Principal */

.seccionPrincipal{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 2.5rem 21.875rem 2.5rem 21.875rem 2.5rem 21.875rem;
    grid-template-areas:
    "art1 art1 art2 art2"
    "art1 art1 art3 art3"
    "art5 art5 art4 art4"
    "art6 art6 art4 art4"
    "art7 art7 art8 art8"
    "art7 art7 art9 art9"
    ;
}

.art1{
    grid-area: art1;
    /* background-color: aqua;  */
}

.art1 img{
    margin-top: 1.5625rem;
    margin-left: 2.1875rem;
}

.art2{
    grid-area: art2;
    /* background-color: rgba(0, 255, 255, 0.247);  */
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin-top: 1.25rem;
    margin-left: .625rem;
    padding: 0rem;
}

.art3{
    grid-area: art3;
    /* background-color: rgba(162, 0, 255, 0.555);  */
    padding-top: 1.25rem;
    font-size: .6875rem;

}

.art3 p{
    padding: 1.25rem 1.25rem 0rem 1.25rem;
    font-family: "Roboto", sans-serif;
}

.art3 div{
    padding-left: 25rem;

}

.art3 div button{
    padding: .3125rem;
    font-size: .75rem;

}

.art4{
    grid-area: art4;
    /* background-color: rgb(50, 148, 63);   */


}

.art4 img{
    margin-top: 1.5625rem;
    margin-left: 1.5625rem;
}
.art5{
    font-size: 1rem;
    padding-top: .3125rem;
}

.art6{
    padding-top: 1.25rem;
    font-size: .6875rem;
}

.art6 p{
    padding: 0rem 1.25rem 1.25rem .625rem;
    font-family: "Roboto", sans-serif;
}

.art6 div{
    padding-top: 0rem;
    padding-left: 25rem;
    margin-bottom: 0rem;

}

.art6 div button{
    padding: .3125rem;
    font-size: .75rem;

}

.art7{
    grid-area: art7;
    /* background-color: rgb(68, 0, 255);    */
}

.art7 img{
    margin-top: 1.25rem;
    margin-left: 1.875rem;
}

.art8{
    grid-area: art8;
    /* background-color: rgb(0, 195, 255);  */
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding: 0rem;
    margin-top: 1.25rem;
    margin-left: .625rem;
}

.art9{
    grid-area: art9;
    /* background-color: rgb(255, 0, 119); */
    padding-top: 1.25rem;
    font-size: .6875rem;
}

.art9 div{
    padding-left: 25rem;
}

.art9 div button{
    padding: .3125rem;
    font-size: .75rem;
}

/* Corrección Footer */

footer .sec1{
    gap: 6.25rem;
}

.carreras{
    margin-left: 15.625rem;
}

.carreras h4{
    margin-bottom: .625rem;
    padding-bottom: .625rem;
    font-size: .75rem;
}

.carreras li{
    text-align: center;
    list-style: none;
    padding-top: .625rem;
}

.carreras li a{
    font-size: .625rem;
}

.contacto{
    margin-bottom: .9375rem;
}

.contacto h4{
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    padding-bottom: .625rem;
    font-size: .75rem;
}

.contacto p{
    font-size: .625rem;
    margin-bottom: 1rem;
}

.contacto div p{
    padding-left: .625rem;

}

.instrumentoslist{
    margin-bottom: 2.375rem;
}

.instrumentoslist h4{
    margin-top: 1.6875rem;
    padding-bottom: .625rem;
    font-size: .75rem;
}

.instrumentoslist ul{
    margin-top: .625rem;
}

.instrumentoslist li{
    padding-top: .3125rem;

}

.instrumentoslist li a{
    font-size: .625rem;

}

.logosContacto{
    margin-top: 12.5rem;
    margin-left: 0rem;
    padding-left: 0rem;
}

.sec2 p{
    font-size: .625rem;
}

.sec3 p{
    font-size: .625rem;
}

}

/* 1080px */

@media (max-width:1080px){

    /* Header */

header div img{
    width: 12.5rem;
    height: 12.5rem;
}

.navBar ul {
    display: flex;
    gap: 2.5rem;
    margin-top: 2.5rem;
    margin-right: 5rem; ;

}

.navBar ul li a{
    font-size: .9375rem;
}

/* Corrección seccion Bienvenida */


.seccionBienvenida h1{
    font-size: 2.1875rem;
    
}

.seccionBienvenida h2{
    margin-top: .625rem;
    margin-left: -1.5625rem;
    font-size: 1.0625rem;

}


.seccionBienvenida button{
    
    padding: .9375rem;
    border-radius: .625rem;
    margin-right: 1.875rem;
    box-shadow: .1875rem .1875rem .125rem rgba(0, 0, 0, 0.336);
}


/* Corrección seccion Principal */

.seccionPrincipal{
    display: grid;
    grid-template-columns: 1fr 14.0625rem 1fr 1fr;
    grid-template-rows: 5rem 25rem 5rem 25rem 5rem 25rem;
    grid-template-areas:
    "art1 art1 art2 art2"
    "art1 art1 art3 art3"
    "art5 art5 art4 art4"
    "art6 art6 art4 art4"
    "art7 art7 art8 art8"
    "art7 art7 art9 art9"
    ;
}

.art1 img{
    width: 90%;
    height: 75%;
    margin-top: 2.5rem;
    margin-left: 1.5625rem; 
    
}

.art2{

    padding: 0;
}

.art3 p{
    padding: 0;
    margin-top: 1.875rem;
    padding-right: 1.25rem;
    font-size: .75rem;
    
}

.art3 div{
    padding-left: 25rem;

}

.art3 div button{
    padding: .9375rem;
    border-radius: 2.5rem;
    font-size: 1.0625rem;

}

.art4 img{
    width: 80%;
    height: 75%;
    margin-top: 2.5rem;
    margin-left: 4.375rem; 
    
}

.art5{

    padding: 0;
    margin-top: 1.25rem;
    margin-left: 1.25rem;
}

.art6 p{
    padding: 0;
    padding-left: .3125rem;
    font-size: .75rem;
    
}

.art6 div{
    padding-top: .9375rem;
    padding-left: 18.75rem;

}

.art6 div button{
    padding: .9375rem;
    border-radius: 2.5rem;
    font-size: 1.0625rem;

}

.art7 img{
    width: 90%;
    height: 75%;
    margin-top: 2.5rem;
    margin-left: 1.5625rem; 
    
}

.art8{

    padding: 0;
    margin-top: 2.5rem;
    margin-left: 1.25rem;
}

.art9 p{
    padding: 0;
    padding-right: 1.25rem;
    font-size: .75rem;
    
}

.art9 div{
    padding-left: 25rem;

}

.art9 div button{
    padding: .9375rem;
    border-radius: 2.5rem;
    font-size: 1.0625rem;

}

/* Corrección Footer */

footer .sec1{
    gap: 6.25rem;
}

.carreras{
    margin-left: 15.625rem;
}

.carreras h4{
    margin-bottom: .625rem;
    padding-bottom: .625rem;
    font-size: .75rem;
}

.carreras li{
    text-align: center;
    list-style: none;
    padding-top: .625rem;
}

.carreras li a{
    font-size: .625rem;
}

.contacto{
    margin-bottom: .9375rem;
}

.contacto h4{
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    padding-bottom: .625rem;
    font-size: .75rem;
}

.contacto p{
    font-size: .625rem;
    margin-bottom: 1rem;
}

.contacto div p{
    padding-left: .625rem;

}

.instrumentoslist{
    margin-bottom: 2.375rem;
}

.instrumentoslist h4{
    margin-top: 1.6875rem;
    padding-bottom: .625rem;
    font-size: .75rem;
}

.instrumentoslist ul{
    margin-top: .625rem;
}

.instrumentoslist li{
    padding-top: .3125rem;

}

.instrumentoslist li a{
    font-size: .625rem;

}

.logosContacto{
    margin-top: 12.5rem;
    margin-left: 0rem;
    padding-left: 0rem;
}

.sec2 p{
    font-size: .625rem;
}

.sec3 p{
    font-size: .625rem;
}







}

/* 768px */

@media (max-width:768px){

/* Correción Header */

header {
    background-color: #263248;
}

header div img{
    width: 9.375rem;
    height: 9.375rem;
}

.navBar ul {
    gap: 1.875rem;
    margin-top: 2.5rem;
    margin-right: 3.125rem;
}

.navBar ul li a{
    font-size: .75rem;
}

/* Correción seccion Bienvenida */

.seccionBienvenida{
    padding-top: 0rem;
    padding-left: .9375rem;

}


.seccionBienvenida h1{
    font-size: 1.5625rem;
    padding-right: 1.25rem;

}

.seccionBienvenida h2{
    margin-top: 0rem;
    margin-left: -1.25rem;
    font-size: .625rem;

}

.seccionBienvenida button{
    padding: .4375rem;
    margin-top: 6.25rem;
    margin-right: 1.875rem;

}

.seccionPrincipal{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 2.5rem 25rem 2.5rem 25rem 2.5rem 25rem;
    grid-template-areas:
    "art1 art1 art2 art2"
    "art1 art1 art3 art3"
    "art5 art5 art4 art4"
    "art6 art6 art4 art4"
    "art7 art7 art8 art8"
    "art7 art7 art9 art9"
    ;
}

.art1 img{
    width: 90%;
    height: 70%;
    margin-top: 2.5rem;
    margin-left: 1.25rem;

}

.art2{
    grid-area: art2;
    padding-top: 0rem;
    font-size: .75rem;
}

.art3{
    grid-area: art3;

}

.art3 p{
    padding: .625rem;
    font-size: .625rem;
}

.art3 div{
    padding: 0;
    padding-left: 15.625rem;
    padding-top: 1.25rem;
}

.art3 div button{
    padding: .3125rem;
    font-size: .75rem;

}

.art4 img{
    width: 90%;
    height: 70%;
    margin: 0;
    margin-top: 1.25rem;
    margin-right: 3.125rem;
    margin-left: .9375rem;
}

.art5{
    grid-area: art5;
    padding: .625rem 0rem 0rem 1.25rem;
    font-size: .75rem;

}

.art6{
    padding: 0;
}

.art6 p{
    padding: .3125rem .625rem 1.875rem 1.25rem;
    font-size: .625rem;
}

.art6 div{
    padding: 0;
    padding-left: 15.625rem;
}

.art6 div button{
    padding: .3125rem;
    font-size: .75rem;

}


.art7 img{
    width: 90%;
    height: 70%;
    margin-top: 2.1875rem;
    margin-left: 1.25rem;

}

.art8{
    grid-area: art8;
    padding: 0;
    font-size: .75rem;
}

.art9 {
    padding: 0;
}

.art9 p{
    padding: .3125rem .625rem 1.875rem 1.25rem;
    font-size: .625rem;
}

.art9 div{
    padding: 0;
    padding-left: 15.625rem;

}

.art9 div button{
    padding: .3125rem;
    font-size: .75rem;
}

/* Corrección Footer */

footer .sec1{
    gap: 4.375rem;
}

.carreras{
    margin: 0;
    margin-left: 9.375rem;
}

.carreras h4{
    margin-bottom: .625rem;
    padding-bottom: .625rem;
    font-size: .75rem;
}

.carreras li{
    text-align: center;
    list-style: none;
    padding-top: .625rem;
}

.carreras li a{
    font-size: .625rem;
}

.contacto{
    margin-bottom: .9375rem;
}

.contacto h4{
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    padding-bottom: .625rem;
    font-size: .75rem;
}

.contacto p{
    font-size: .625rem;
    margin-bottom: 1rem;
}

.contacto div p{
    padding-left: .625rem;

}

.instrumentoslist{
    margin-bottom: 2.375rem;
}

.instrumentoslist h4{
    margin-top: 1.6875rem;
    padding-bottom: .625rem;
    font-size: .75rem;
}

.instrumentoslist ul{
    margin-top: .625rem;
}

.instrumentoslist li{
    padding-top: .3125rem;

}

.instrumentoslist li a{
    font-size: .625rem;

}

.logosContacto{
    margin-top: 12.5rem;
    margin-left: 0rem;
    padding-left: 0rem;
}

.logosContacto img{
    width: 1.875rem;
    height: 1.875rem;
}

.sec2 p{
    font-size: .625rem;
}

.sec3 p{
    font-size: .625rem;
}

}

/* 480px */

@media (max-width:480px){

/* Corrección Header */

header {
    width: 100%;
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div img{
    width: 12.5rem;
    height: 12.5rem;
}

.navBar ul {
    gap: .9375rem;
    margin: 0;
    margin-bottom: 2.5rem;
}

/* Corrección seccion Bienvenida */

.seccionBienvenida{
    
    flex-direction: column;
    padding-top: .625rem;
    padding-left: 1.25rem;

}


.seccionBienvenida h1{
    font-size: 1.875rem;
    padding-right: 0;
    border-right:none;

}


.seccionBienvenida h2{
    margin: 0;
    margin-bottom: 6.25rem;
    font-size: 1rem;

}

.seccionBienvenida button{
position: relative;
font-size: .875rem;
padding: .9375rem 1.25rem;
margin:0;
bottom: 4.375rem;

}

/* Corrección seccion Principal */

.seccionPrincipal{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 23.125rem 5rem 25rem 23.125rem 5rem 25rem 23.125rem 5rem 25rem;
    grid-template-areas:
    "art1 art1 art1 art1"
    "art2 art2 art2 art2"
    "art3 art3 art3 art3"
    "art4 art4 art4 art4"
    "art5 art5 art5 art5"
    "art6 art6 art6 art6"
    "art7 art7 art7 art7"
    "art8 art8 art8 art8"
    "art9 art9 art9 art9"
    ;
}

.art1 img{
    height: 80%;

}

.art2{
    margin: 0;
    margin-top: 1.25rem;
    margin-left: .625rem;
}

.art3 p{
    padding: 1.25rem;
    position: relative;
    bottom: 3.125rem;
    font-size: .75rem;
}

.art3 div{
    padding: 0;
    margin-left: 18.75rem;
    position: relative;
    bottom: 2.1875rem;
}

.art3 div button {
    padding: .625rem 1.875rem;
    font-size: .875rem;

}

.art4 img{
    height: 80%;

}

.art5{
    margin: 0;
    padding: 0;
    margin-left: 4.375rem;
}

.art6 p{
    padding: 1.25rem;
    position: relative;
    bottom: 3.125rem;
    font-size: .75rem;
}

.art6 div{
    padding: 0;
    margin-left: 18.75rem;
    position: relative;
    bottom: 2.1875rem;
}

.art6 div button {
    padding: .625rem 1.875rem;
    font-size: .875rem;

}

.art7 img{
    height: 80%;

}

.art8{
    margin: 0;
    padding: 0;
    margin-left: 4.375rem;
}

.art9 p{
    padding: 1.25rem;
    position: relative;
    bottom: 3.125rem;
    font-size: .75rem;
}

.art9 div{
    padding: 0;
    margin-left: 18.75rem;
    position: relative;
    bottom: 2.1875rem;
}

.art9 div button {
    padding: .625rem 1.875rem;
    font-size: .875rem;

}

/* Corrección Footer */

footer {
width: 100%;
height: 18.75rem;
background-color: #263248;
color: aliceblue;
    
}
    
footer .sec1{
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}   
    
.carreras{
    margin:0;
    margin-left: 5rem;
}
    
.carreras h4{
    text-align: center;
    margin-bottom: .625rem;
    padding-bottom: .625rem;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
}
    
.carreras li{
    text-align: center;
    list-style: none;
    padding-top: .625rem;
}
    
.carreras li a{
    color: #EEF5FF;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .625rem;
    text-decoration: none;
}
    
.contacto{
    margin-bottom: .9375rem;
}
    
.contacto h4{
    text-align: center;
    margin-top: 1.875rem;
    margin-bottom: 1.375rem;
    padding-bottom: .625rem;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
}
    
.contacto p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
    margin-bottom: 1rem;
}
    
.contacto div{
    display: flex;
    text-align: center;
    
}

.contacto div img{
    width: .9375rem;
    height: .9375rem;
    
}
    
.contacto div p{
    padding-left: .625rem;
    font-size: .625rem;
    
}
    
.instrumentoslist{
    margin-bottom: 2.375rem;
    font-family: "Roboto", sans-serif;
}
    
.instrumentoslist h4{
    text-align: center;
    margin-top: 1.875rem;
    /* margin-bottom: .625rem; */
    padding-bottom: .625rem;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
}
    
    
.instrumentoslist li{
    text-align: center;
    list-style: none;
    padding-top: .4063rem;
    
}
    
.instrumentoslist li a{
    
    text-decoration: none;
    list-style: none;
    color: rgba(255, 255, 255, 0.76);
    font-size: .625rem;
    
}
    
    
.logosContacto{
    position: relative;
    top: .3125rem;
    right: .625rem;
    /* margin: 0;
    margin-top: 12.5rem;
    margin-right: 1.25rem; */
}
    
.sec2{
    display: flex;
    justify-content: center;
    margin-top: .625rem;
}
    
.sec2 div p{
    font-size: .5rem;
}
    
.sec2 div img{
    width: .75rem;
    height: .75rem;
    margin: 0% .125rem;
    
}
    
.sec3{
    display: flex;
    justify-content: center;
}
    
.sec3 div p{
    font-size: .5rem;
}

}

/* 320px */

@media (max-width:320px){

/* Corrección Header */

header {
    width: 100%;
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div img{
    width: 12.5rem;
    height: 12.5rem;
}

.navBar ul {
    margin: 0;
    position: relative;
    bottom: 1.25rem;

}

.navBar ul li a {
    margin: 0;
    position: relative;
    left: .625rem;
    font-size: .5625rem;

}

/* Corrección seccion Bienvenida */

.seccionBienvenida{
    
    flex-direction: column;
    padding-top: .625rem;
    padding-left: 1.25rem;

}


.seccionBienvenida h1{
    font-size: 1.375rem;
    padding-right: 0;
    border-right:none;

}


.seccionBienvenida h2{
    margin: 0;
    margin-bottom: 6.25rem;
    font-size: .875rem;

}

.seccionBienvenida button{
position: relative;
font-size: .875rem;
padding: .9375rem 1.25rem;
margin:0;
bottom: 4.375rem;

}

/* Corrección seccion principal */


.seccionPrincipal{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 15.625rem 5rem 31.25rem 15.625rem 5rem 31.25rem 15.625rem 5rem 31.25rem;
    grid-template-areas:
    "art1 art1 art1 art1"
    "art2 art2 art2 art2"
    "art3 art3 art3 art3"
    "art4 art4 art4 art4"
    "art5 art5 art5 art5"
    "art6 art6 art6 art6"
    "art7 art7 art7 art7"
    "art8 art8 art8 art8"
    "art9 art9 art9 art9"
    ;
}

.art1 img{
    width: 85%;
    height: 60%;

}

.art2{
    margin: 0;
    margin-top: 1.25rem;
    margin-left: .625rem;
    font-size: .625rem;
}

.art3 p{
    padding: 1.25rem;
    position: relative;
    bottom: 3.125rem;
    font-size: .625rem;
}

.art3 div{
    padding: 0;
    margin-left: 6.25rem;
    position: relative;
    bottom: 2.1875rem;
}

.art3 div button {
    padding: .625rem 1.875rem;
    font-size: .875rem;

}

.art4 img{
    width: 85%;
    height: 60%;
    margin-top: 3.125rem;
}

.art5{
    margin: 0;
    margin-top: 1.25rem;
    margin-left: 1.5625rem;
    font-size: .625rem;
}

.art6 p{
    padding: 1.25rem;
    position: relative;
    bottom: 3.125rem;
    font-size: .625rem;
}

.art6 div{
    padding: 0;
    margin-left: 6.25rem;
    position: relative;
    bottom: 2.1875rem;
}

.art6 div button {
    padding: .625rem 1.875rem;
    font-size: .875rem;

}

.art7 img{
    width: 85%;
    height: 60%;
    margin-top: 3.125rem;
}

.art8{
    margin: 0;
    margin-top: 1.25rem;
    margin-left: 1.5625rem;
    font-size: .625rem;
}

.art9 p{
    padding: 1.25rem;
    position: relative;
    bottom: 3.125rem;
    font-size: .625rem;
}

.art9 div{
    padding: 0;
    margin-left: 6.25rem;
    position: relative;
    bottom: 2.1875rem;
}

.art9 div button {
    padding: .625rem 1.875rem;
    font-size: .875rem;

}

/* Corrección Footer */

footer {
    width: 100%;
    height: 18.75rem;
    background-color: #263248;
    color: aliceblue;
        
    }
        
footer .sec1{
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}   
        
.carreras{
    margin:0;
    margin-left: 1.25rem;
}
        
.carreras h4{
    margin-bottom: .625rem;
    padding-bottom: .625rem;
        
}
        
.carreras li{
    text-align: center;
    list-style: none;
    padding-top: .3125rem;
}
        
.contacto{
    margin-bottom: 2.5rem;
}
        
.contacto h4{
    margin-top: 1.875rem;
    margin-bottom: 1.375rem;
    padding-bottom: .625rem; 
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
}
        
.contacto p{
    margin-bottom: .625rem;
    padding-left: 0rem;
}

.contacto div{
    display: flex;
    text-align: center;
        
}
    
.contacto div img{
    width: .9375rem;
    height: .9375rem;
        
}
        
.contacto div p{
    padding-left: .625rem;
    font-size: .625rem;
        
}
        
.instrumentoslist{
    margin-bottom: 3.75rem;
    font-family: "Roboto", sans-serif;
}
        
.instrumentoslist h4{
    text-align: center;
    margin-top: 1.875rem;
    /* margin-bottom: .625rem; */
    padding-bottom: .625rem;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.76);
    font-size: .75rem;
    border-bottom: 3px solid rgba(255, 255, 255, 0.514);
}
        
        
.instrumentoslist li{
    text-align: center;
    list-style: none;
    padding-top: .4063rem;
        
}
        
.instrumentoslist li a{
        
    text-decoration: none;
    list-style: none;
    color: rgba(255, 255, 255, 0.76);
    font-size: .625rem;
        
}
        
        
.logosContacto{
    position: relative;
    top: .3125rem;
    right: .625rem;
}
        
.logosContacto img{
    width: 1.25rem;
    height: 1.25rem;
    display: block;
}

.sec2{
    display: flex;
    justify-content: center;
    margin-top: .625rem;
}
        
.sec2 div p{
    font-size: .3125rem;
}
        
.sec2 div img{
    width: .5625rem;
    height: .5625rem;
    margin: 0;
    margin-bottom: 2px;
        
}
        
.sec3{
    display: flex;
    justify-content: center;
}
        
.sec3 div p{
    font-size: .3125rem;
}
    

}